.alert {
  position: relative;
  width: $alert-width;
  border-radius: $border-radius;
  font-size: $alert-font-size-base;
  color: $alert-font-color;
  line-height: $line-height-base;
  .alert-icon {
    position: absolute;
  }
  .alert-close {
    position: absolute;
    cursor: pointer;
    color: $alert-close-font-color;
  }
  .alert-close-icon {
    color: $alert-close-font-color;
  }
}

.alert-sm {
  padding: $alert-sm-padding;
  a {
    color: $alert-font-color;
    text-decoration: underline;
  }
  .alert-icon {
    top: $alert-sm-icon-top;
    left: $alert-sm-icon-left;
    font-size: $alert-icon-font-size-sm;
  }
  .alert-close {
    top: $alert-sm-close-top;
    right: $alert-sm-close-right;
  }
}

.alert-lg {
  padding: $alert-lg-padding;
  .alert-icon {
    top: $alert-lg-icon-top;
    left: $alert-lg-icon-left;
    font-size: $alert-icon-font-size-lg;
  }
  .alert-close {
    top: $alert-lg-close-top;
    right: $alert-lg-close-right;
  }
  .alert-message {
    display: block;
    font-size: $alert-font-size-lg;
    color: $alert-desc-font-color;
    line-height: $line-height-base;
    margin-bottom: $alert-desc-margin-bottom;
  }
  .alert-desc {
    display: block;
  }
}

.alert-success {
  background: $alert-success-bg-color;
  border: 1px solid $alert-success-border-color;
  .alert-icon {
    color: $alert-success-color;
  }
}

.alert-error {
  background: $alert-error-bg-color;
  border: 1px solid $alert-error-border-color;
  .alert-icon {
    color: $alert-error-color;
  }
}

.alert-warning {
  background: $alert-warning-bg-color;
  border: 1px solid $alert-warning-border-color;
  .alert-icon {
    color: $alert-warning-color;
  }
}

.alert-info {
  background: $alert-info-bg-color;
  border: 1px solid $alert-info-border-color;
  .alert-icon {
    color: $alert-info-color;
  }
}