// Base styles

.btn {
  display: inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  background-image: none;
  @include button-size($btn-height, $btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
  @include transition($btn-transition);
  box-shadow: none;

  // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
  }
  &:focus,
  &.focus {
    outline: 0;
  }
  
  @include button-variant-disabled($btn-color-disabled, $btn-border-color-disabled, $btn-background-color-disabled);

  // Small Button
  &.btn-sm {
    @include button-size($btn-height-sm, $btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius);
  }
  
  // Button with icon
  i[class*="icon-"] {
    @include iconfont-size-under-12px(10px);
    &.btn-icon-left {
      margin-right: 4px;
    }
    &.btn-icon-right {
      margin-left: 4px;
    }
  }

}

// Primary
.btn-primary {
    @include button-variant($btn-primary-color, $btn-primary-border-color, $btn-primary-background-color, $btn-primary-background-color-hover, $btn-primary-background-color-active);
}

// secondary
.btn-secondary {
    @include button-variant($btn-color, $btn-border-color, $btn-background-color, $btn-background-color-hover, $btn-background-color-active);
    &.btn-secondary-primary {
      @include button-variant($btn-secondary-primary-color, $btn-secondary-primary-border-color, $btn-secondary-primary-background-color, $btn-secondary-primary-background-color-hover, $btn-secondary-primary-background-color-active);
      &.active,
      &:active {
       color: $btn-secondary-color-active;
      }
    }
    &.btn-secondary-danger {
      @include button-variant($btn-secondary-danger-color, $btn-secondary-danger-border-color, $btn-secondary-danger-background-color, $btn-secondary-danger-background-color-hover, $btn-secondary-danger-background-color-active);
      &.active,
      &:active {
       color: $btn-secondary-color-active;
      }
    }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}
a.btn {
  &.btn-primary,
  &.btn-primary:hover,
  &.btn-primary:active,
  &.btn-primary.active
  {
    color: $btn-primary-color;
  }
}

// Link buttons

// Make a button look and behave like a link
.btn-link {
  font-weight: $btn-font-weight;
  color: $link-color;
  border-radius: 0;
  border-color: transparent;

  &,
  &:active,
  &.active,
  &:disabled,
  &.disabled {
    &,
    &:hover{
      background-color: transparent;
      border-color: transparent;
    }
  }
  &,
  &:focus,
  &.active,
  &:active {
    color: $link-hover-color;
  }
  @include hover {
    border-color: transparent;
  }
  @include hover-focus {
    text-decoration: $link-hover-decoration;
    background-color: transparent;
  }
  &.disabled,
  &:disabled,
  &.active,
  &:active {
   text-decoration: none;
  }
}
