// Base styles

.btn {
  display: inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: $input-border-width solid transparent;
  background-image: none;
  @include button-size($btn-height, $btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
  @include transition($btn-transition);
  @include box-shadow(none);

  // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
  }
  &:focus,
  &.focus {
    outline: 0;
  }
}

// Primary
.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-background-color, $btn-primary-background-color);
  &:hover {
    @include button-variant($btn-primary-color, $btn-primary-background-color-hover, $btn-primary-background-color-hover);
  }
  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    @include button-variant($btn-primary-color, $btn-primary-background-color-disabled, $btn-primary-background-color-disabled);
  }

  &:active,
  &.active {
    @include button-variant($btn-primary-color, $btn-primary-background-color-active, $btn-primary-background-color-active);
  }
}

// secondary
.btn-secondary {
  @include button-variant($btn-color, $btn-background-color, $btn-border-color);
  &:hover {
    @include button-variant($btn-color-hover, $btn-background-color-hover, $btn-border-color-hover);
  }
  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    @include button-variant($btn-color-disabled, $btn-background-color-disabled, $btn-border-color-disabled);
  }

  &:active,
  &.active {
    @include button-variant($btn-color-active, $btn-background-color-active, $btn-border-color-active);
    // @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
  }
}

// border style is dashed
.btn-dashed {
  @extend .btn-secondary;
  border-style: dashed;
}

// Button with icon
.btn-icon {
  padding: $btn-padding-y $btn-icon-padding-x;
  .btn-icon-left,
  .btn-icon-right {
    position: relative;
    top: 1px;
  }
  .btn-icon-left {
    margin-right: 8px;
  }
  .btn-icon-right {
    margin-left: 8px;
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

// Link buttons

// Make a button look and behave like a link
.btn-link {
  font-weight: $btn-font-weight;
  color: $link-color;
  border-radius: 0;
  border-color: transparent;

  &,
  &:active,
  &.active,
  &:disabled,
  &.disabled {
    background-color: transparent;
    border-color: transparent;
  }
  &,
  &:focus,
  &:active {
    border-color: transparent;
    @include box-shadow(none);
  }
  &:focus,
  &.active,
  &:active {
    color: $link-hover-color;
  }
  @include hover {
    border-color: transparent;
  }
  @include hover-focus {
    text-decoration: $link-hover-decoration;
    background-color: transparent;
  }
  &.disabled,
  &:disabled {
    color: $btn-link-disabled-color;

    @include hover-focus {
      text-decoration: none;
    }
  }
}
