.shark-calendar {
	background-color: #ffffff;
	z-index: 999999;
	width: ((22)*7+6*2*7) + px;
	box-sizing: border-box;
	user-select: none;
	.calendar-montharea {
		padding: 5px 0;
		text-align: center;
		.calendar-prev-year,
		.calendar-prev-month,
		.calendar-next-year,
		.calendar-next-month {
			display: block;
			cursor: pointer;
			margin: 0 5px;
			width: 21px;
			height: 21px;
			background-size: 9px 9px;
			background-position: center center;
			background-repeat: no-repeat;
			&.calendar-disabled {
					cursor: not-allowed;
			}
		}
		.calendar-prev-month,
		.calendar-next-month {
			background-size: 12px 12px;
		}
		.calendar-prev-year {
			float: left;
			background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAeUExURQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAALcob2oAAAAKdFJOUwD+dlMMvZ7aMZlYDG2gAAAAM0lEQVQI12NgYGBgKmFgrgDSDIpCDIaSIAHBBGbBEJCAGIOhqAMxAggGXIpYIailEGcAAHOtDG28kPRsAAAAAElFTkSuQmCC);
		}
		.calendar-prev-month {
			float: left;
			background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURQAAAAAAAAAAAAAAADXpN5YAAAAEdFJOUwD+dlQZqnPdAAAALklEQVQI12NgYOBiAALVBiAx9QADA1M4kMEZAxIqQBYCE2AuRAKsBFkQZAAXAwCMqgoLR0QF3wAAAABJRU5ErkJggg==);
		}
		.calendar-next-year {
			float: right;
			background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAhUExURQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAG3RSMEAAAALdFJOUwB4VJ0KvW/aJkr+00F2iwAAADZJREFUCNdjaFdgaBdgAAKrRQxZC0EM11UKzKtAQixRixisiBBayWC1DJkBk4IrximAsBTmDAD8xRxNDQ62FwAAAABJRU5ErkJggg==);
		}
		.calendar-next-month {
			float: right;
			background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURQAAAAAAAAAAAAAAADXpN5YAAAAEdFJOUwD+dlQZqnPdAAAALklEQVQI12NgWMDAwMAUASSYw4AEw9UGIGGaACR40QRBBJgLlgArgQuBDQAZBQCn8wqhEuR6awAAAABJRU5ErkJggg==);
		}
		input {
			display: inline-block;
			color: $pickercontainer-color;
			font-size: $calendar-font-size;
			font-weight: $calendar-font-weight;
			width: 50px;
			text-align: center;
			border: none;
			outline: none;
			&.calendar-current-month {
				width: 30px;
			}
		}
	}
	.calendar-dayarea {
		// margin: -15px 0 0 -15px;
		.calendar-day-wrap::after,
		.calendar-weekday-wrap::after {
			content: '';
			display: block;
			clear: both;
		}
		.calendar-weekday,
		.calendar-day {
			cursor: pointer;
			position: relative;
			text-align: center;
			display: block;
			float: left;
			width: $calendar-day-width;
			height: $calendar-day-height;
			line-height: $calendar-day-line-height;
			margin: $calendar-day-margin;
			border-radius: $pickercontainer-border-radius;
			border: 1px solid transparent;
			font-size: $calendar-day-font-size;
		}
		.calendar-weekday {
			font-weight: 500;
			color: $calendar-weekday-color;
		}
		.calendar-day {
			color: $calendar-day-color;
			&:hover {
				border-color: $calendar-day-border-color-hover;
				background-color: $calendar-day-background-color-hover;
			}
			&.calendar-today {
				border-bottom-width: 2px;
				border-bottom-color: $calendar-day-border-color-hover;
			}
			&.calendar-selected {
				color: $calendar-day-color-active;
				border-color: $calendar-day-border-color-active;
				background-color: $calendar-day-background-color-active;
			}
			&.calendar-premonthday,
			&.calendar-nextmonthday {
				color: $calendar-day-disabled;
			}
			&.calendar-disabled {
				cursor: not-allowed;
				color: $calendar-day-disabled;
				&:hover {
					border-color: transparent;
					background-color: transparent;
				}
			}
		}
	}
}

.shark-timepanel {
	margin-top: $timepanel-margin-top;
	position: absolute;
	display: none;
	background-color: #ffffff;
	z-index: 9999999;
	width: 156px;
	box-sizing: border-box;
	user-select: none;
	&::after {
		content: '';
		display: block;
		clear: both;
	}
	border: 1px solid $timepanel-border-color;
	border-right-color: transparent; 
	@include box-shadow($timepanel-box-shadow);
	border-radius: $pickercontainer-border-radius;
	.timepanel-list {
		display: block;
		height: $timepanel-list-height;
		float: left;
		width: 33.33%;
		overflow: auto;
		&:first-child {
			border-left: none;
		}
		// 滚动条
		&::-webkit-scrollbar {
			width: 10px;
			height: 10px;
			background-color: #f4f4f4;
		}
		&::-webkit-scrollbar-button {
			width: 0;
			height: 0;
			display: none
		}
		&::-webkit-scrollbar-corner {
			background-color: transparent
		}
		&::-webkit-scrollbar-thumb {
			display: inline-block;
			background-color: rgba(0, 0, 0, 0.3);
			border-radius: 10px;
			box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
		}
		&::-webkit-scrollbar-thumb:hover {
			background-color: rgba(0, 0, 0, 0.5);
			border-radius: 10px;
			box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
		}
		&::-webkit-scrollbar-track {
			border-left: 1px solid $timepanel-border-color;
			border-right: 1px solid $timepanel-border-color;
			box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
		}
	}
	.timepanel-list-item {
		cursor: pointer;
		padding: $timepanel-list-item-padding;
		&:hover {
			background-color: $timepanel-list-item-background-color-hover;
		}
		&.timepanel-selected {
			background-color: $timepanel-list-item-background-color-active;
		}
		&.timepanel-disabled {
			cursor: not-allowed;
			color: $timepanel-list-item-color-disabled;
			background-color: $timepanel-list-item-background-color-disabled;
		}
	}
}

.shark-pickercontainer {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	background-color: #ffffff;
	color: $pickercontainer-color;
	border: 1px solid $pickercontainer-border-color;
	padding: $pickercontainer-padding;
	border-radius: $pickercontainer-border-radius;
	@include box-shadow($pickercontainer-box-shadow);
	.shark-timewrap{
		padding: $calendar-timewrap-padding;
		.nowtime{
			cursor:pointer;
			width: $calendar-nowtime-width;
			height: $calendar-nowtime-height;
			line-height: $calendar-nowtime-line-height;
			display: inline-block;
			font-size: $calendar-nowtime-font-size;
			color: $calendar-nowtime-color;
		}
		.input-time-wrap{
			display: inline-block;
			position: relative;
			.input-time{
				cursor:pointer;
				width: $calendar-input-time-width;
				height: $calendar-input-time-height;
				line-height: $calendar-input-time-line-height;
				border: 1px solid $calendar-input-time-border-color;
				font-size: 12px;
				padding: $calendar-input-time-padding;
				vertical-align: middle;
				border-radius: $pickercontainer-border-radius;
				color: $calendar-input-time-color;
				&:hover,
				&:focus {
					border-color: $calendar-input-time-border-color-hover;
				}
				&:focus {
					@include box-shadow($calendar-input-time-box-shadow);
				}
			}
		}
	}
}