//checkbox

.checkbox-wrap {
  @extend %select-wrapper;
}

.checkbox {
  @extend %select-item;
  .checkbox-input {
    @extend %select-input;
  }
  .checkbox-inner {
    @extend %select-inner;
    border-radius: 2px;
  }

  &:after {
    position: absolute;
    display: none;
    content: "";
    transition: all .2s;
  }
}

.checkbox-wrap:hover .checkbox{
  .checkbox-inner{
    border-color: #3187f6;
  }
}

.checkbox-wrap.disabled {

  &,
  & input {
    cursor: not-allowed;
  }
  .checkbox {
    .checkbox-inner {
      background-color: #e8e8e8;
      border-color: #d9d9d9;
    }
  }
}

.checkbox-wrap.checked {
  &.disabled {
    .checkbox {
      .checkbox-inner {
        background-color: #fff;
        border-color: #d9d9d9;
      }
      &:after {
        border-color: #999;
      }
    }
  }
  .checkbox {
    .checkbox-inner {
      background-color: #3187f6; 
      border-color: #3187f6;
    }

    &:after {
      top: 2px;
      left: 4px;
      display: table;
      width: 5px;
      height: 8px;
      border: 2px solid #fff;
      border-top: 0;
      border-left: 0;
      transform: rotate(45deg);
    }
  }
}

.checkbox-wrap.checked-some {
  &.disabled {
    border-color: $check-inner-border-color;
    .checkbox {
      .checkbox-inner {
        background-color: #fff;
        border-color: #d9d9d9;
      }
      &:after {
        border-color: #999;
      }
      
    }
  }
  .checkbox {
    .checkbox-inner {
      background-color: #3187f6; 
      border-color: #3187f6;
    }

    &:after {
      top: 6px;
      left: 3px;
      display: table;
      width: 8px;
      height: 2px;
      border-bottom: 2px solid #fff;
    }
  }
}

.checkbox-group {
  @extend %select-group;
  &.checkbox-group-vertical {
    @extend %select-group-vertical;
  }
}



