.calendar {
	background-color: #ffffff;
	z-index: 999999;
	width: ((22)*7+6*2*7) + px;
	box-sizing: border-box;
	user-select: none;
	.calendar-montharea {
		padding: 5px 15px;
		text-align: center;
		.calendar-prev-year,
		.calendar-prev-month,
		.calendar-next-year,
		.calendar-next-month {
      font-size: 14px;
			display: block;
			cursor: pointer;
			&.calendar-disabled {
        color: $calendar-day-disabled;
        cursor: not-allowed;
			}
		}
		.calendar-prev-month,
		.calendar-next-month {
			margin: 0 10px;
    }
    .calendar-prev-year {
      float: left;
      &:before {
       @include iconfont-font("\EE49");
      }
		}
		.calendar-prev-month {
      float: left;
      &:before {
        @include iconfont-font("\EE51");
      }
		}
		.calendar-next-year {
      float: right;
      &:before {
        @include iconfont-font("\EE48");
      }
		}
		.calendar-next-month {
			float: right;
      &:before {
        @include iconfont-font("\EE50");
      }
		}
		input {
			display: inline-block;
			color: $pickercontainer-color;
			font-size: $calendar-font-size;
			font-weight: $calendar-font-weight;
			width: 50px;
			text-align: center;
			border: none;
			outline: none;
			&.calendar-current-month {
				width: 30px;
			}
		}
	}
	.calendar-dayarea {
		.calendar-day-wrap::after,
		.calendar-weekday-wrap::after {
			content: '';
			display: block;
			clear: both;
		}
		.calendar-weekday,
		.calendar-day {
			cursor: pointer;
			position: relative;
			text-align: center;
			display: block;
			float: left;
			width: $calendar-day-width;
			height: $calendar-day-height;
			line-height: $calendar-day-line-height;
			margin: $calendar-day-margin;
			border-radius: $pickercontainer-border-radius;
			border: 1px solid transparent;
			font-size: $calendar-day-font-size;
		}
		.calendar-weekday {
			font-weight: 500;
			color: $calendar-weekday-color;
		}
		.calendar-day {
			color: $calendar-day-color;
			@include transition($calendar-day-transition);
			&:hover {
				border-color: $calendar-day-border-color-hover;
				background-color: $calendar-day-background-color-hover;
			}
			&.calendar-today {
				border-bottom-width: 2px;
				border-bottom-color: $calendar-day-border-color-hover;
			}
			&.calendar-selected {
				color: $calendar-day-color-active;
				border-color: $calendar-day-border-color-active;
				background-color: $calendar-day-background-color-active;
			}
			&.calendar-premonthday,
			&.calendar-nextmonthday {
				color: $calendar-day-disabled;
			}
			&.calendar-disabled {
				cursor: not-allowed;
				color: $calendar-day-disabled;
				&:hover {
					border-color: transparent;
					background-color: transparent;
				}
			}
		}
	}
}

.timepanel {
	margin-top: $timepanel-margin-top;
	position: absolute;
	display: none;
	background-color: #ffffff;
	z-index: 9999999;
	width: 157px;
	box-sizing: border-box;
	user-select: none;
	&::after {
		content: '';
		display: block;
		clear: both;
	}
	border: 1px solid $timepanel-border-color;
	border-right: none; 
	@include box-shadow($timepanel-box-shadow);
	border-radius: $pickercontainer-border-radius;
	.timepanel-list {
		display: block;
		height: $timepanel-list-height;
		float: left;
		width: 52px;
		overflow: auto;
		&:first-child {
			border-left: none;
		}
		// 滚动条
		&::-webkit-scrollbar {
			width: 10px;
			height: 10px;
			background-color: #f4f4f4;
		}
		&::-webkit-scrollbar-button {
			width: 0;
			height: 0;
			display: none
		}
		&::-webkit-scrollbar-corner {
			background-color: transparent
		}
		&::-webkit-scrollbar-thumb {
			display: inline-block;
			background-color: rgba(0, 0, 0, 0.3);
			border-radius: 10px;
			box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
		}
		&::-webkit-scrollbar-thumb:hover {
			background-color: rgba(0, 0, 0, 0.5);
			border-radius: 10px;
			box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
		}
		&::-webkit-scrollbar-track {
			border-left: 1px solid $timepanel-border-color;
			border-right: 1px solid $timepanel-border-color;
			box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
		}
	}
	.timepanel-list-item {
		cursor: pointer;
		padding: $timepanel-list-item-padding;
		@include transition($timepanel-list-item-transition);
		&:hover {
			background-color: $timepanel-list-item-background-color-hover;
		}
		&.timepanel-selected {
			background-color: $timepanel-list-item-background-color-active;
		}
		&.timepanel-disabled {
			cursor: not-allowed;
			color: $timepanel-list-item-color-disabled;
			background-color: $timepanel-list-item-background-color-disabled;
		}
	&:last-child {
		margin-bottom: 125px; 
	}
	}
}

.pickercontainer {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	background-color: #ffffff;
	color: $pickercontainer-color;
	border: 1px solid $pickercontainer-border-color;
	padding: $pickercontainer-padding;
	border-radius: $pickercontainer-border-radius;
	@include box-shadow($pickercontainer-box-shadow);
	.timewrap{
		padding: $calendar-timewrap-padding;
		.nowtime{
			cursor:pointer;
			width: $calendar-nowtime-width;
			height: $calendar-nowtime-height;
			line-height: $calendar-nowtime-line-height;
      text-align: center;
      padding: 0 10px;
      margin-right: 38px;
			display: inline-block;
			font-size: $calendar-nowtime-font-size;
			color: $calendar-nowtime-color;
			&:hover {
				color: $calendar-nowtime-color;
			}
		}
		.input-time-wrap{
			display: inline-block;
      position: relative;
      width: $calendar-input-time-width;
			.input-time{
				width: $calendar-input-time-width;
        .input {
          cursor:pointer;
        }
			}
		}
	}
}

.datetimepicker,
.datetimepicker-lg,
.datetimepicker-range,
.datetimepicker-range-lg {
  display: inline-block;
}
.datetimepicker {
  width: $datetimepicker-width;
}
.datetimepicker-lg {
  width: $datetimepicker-lg-width;
}
.datetimepicker-range,
.datetimepicker-range-lg {
  font-size: 0;
  .datetimepicker-start,
  .datetimepicker-split,
  .datetimepicker-end {
    display: inline-block;
  }
  .datetimepicker-split {
    width: $datetimepicker-split-width;
    height: $datetimepicker-split-height;
    line-height: $datetimepicker-split-height;
    text-align: center;
    vertical-align: top;
    font-size: $datetimepicker-split-font-size;
    color: $datetimepicker-split-color;
  }
}
.datetimepicker-range-lg {
  .datetimepicker {
    width: $datetimepicker-lg-width;
  }
}