//form

.form-item {
  margin-bottom: 24px;
  font-size: 12px;  //input 的font-size
  color: rgba(0,0,0,.65);
  vertical-align: top;
}

.form-item-label {
  display: inline-block;
  text-align: center;
  line-height: 32px;  //input-lg height
  white-space: nowrap;
  vertical-align: middle; //same width form-item-control
}

.form-item-control {
  position: relative;
  display: inline-block;
  line-height: 32px;  //input-lg height
  vertical-align: middle;  //same width form-item-control
}

.form-inline {
  .form-item {
    display: inline-block;
    padding: 0 20px; //间距
  }
}