@font-face {
  font-family: "iconfont";
  src: url('/shark-css/fonts/iconfont.eot?t=1494480257283');
  /* IE9*/
  src: url('/shark-css/fonts/iconfont.eot?t=1494480257283#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/shark-css/fonts/iconfont.woff?t=1494480257283') format('woff'), /* chrome, firefox */
  url('/shark-css/fonts/iconfont.ttf?t=1494480257283') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/shark-css/fonts/iconfont.svg?t=1494480257283#anticon') format('svg');
  /* iOS 4.1- */
}

i,
[class*="icon-"] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-emptysquare:before {
  content: "\e628";
}

.icon-caretright:before {
  content: "\ee35";
}

.icon-caretleft:before {
  content: "\ee36";
}

.icon-caretdown:before {
  content: "\ee37";
}

.icon-caretup:before {
  content: "\ee38";
}

.icon-rightcircle:before {
  content: "\ee39";
}

.icon-leftcircle:before {
  content: "\ee3a";
}

.icon-upcircle:before {
  content: "\ee3b";
}

.icon-downcircle:before {
  content: "\ee3c";
}

.icon-rightcircleo:before {
  content: "\ee3d";
}

.icon-leftcircleo:before {
  content: "\ee3e";
}

.icon-upcircleo:before {
  content: "\ee3f";
}

.icon-downcircleo:before {
  content: "\ee40";
}

.icon-verticleleft:before {
  content: "\ee41";
}

.icon-verticleright:before {
  content: "\ee42";
}

.icon-reload:before {
  content: "\ee47";
}

.icon-doubleright:before {
  content: "\ee48";
}

.icon-doubleleft:before {
  content: "\ee49";
}

.icon-down:before {
  content: "\ee4e";
}

.icon-up:before {
  content: "\ee4f";
}

.icon-right:before {
  content: "\ee50";
}

.icon-left:before {
  content: "\ee51";
}

.icon-minussquareo:before {
  content: "\ee52";
}

.icon-minuscircle:before {
  content: "\ee53";
}

.icon-minuscircleo:before {
  content: "\ee54";
}

.icon-minus:before {
  content: "\ee55";
}

.icon-pluscircleo:before {
  content: "\ee56";
}

.icon-pluscircle:before {
  content: "\ee57";
}

.icon-plus:before {
  content: "\ee5b";
}

.icon-infocirlce:before {
  content: "\ee59";
}

.icon-infocirlceo:before {
  content: "\ee5a";
}

.icon-exclamationcircle:before {
  content: "\ee5d";
}

.icon-exclamationcircleo:before {
  content: "\ee5e";
}

.icon-closecircle:before {
  content: "\ee5f";
}

.icon-closecircleo:before {
  content: "\ee60";
}

.icon-checkcircle:before {
  content: "\ee61";
}

.icon-checkcircleo:before {
  content: "\ee62";
}

.icon-check:before {
  content: "\ee63";
}

.icon-close:before {
  content: "\ee64";
}

.icon-questioncircle:before {
  content: "\ee6c";
}

.icon-questioncircleo:before {
  content: "\ee6d";
}

.icon-clockcircle:before {
  content: "\ee71";
}

.icon-clockcircleo:before {
  content: "\ee72";
}

.icon-plussquareo:before {
  content: "\ee76";
}

.icon-ellipsis:before {
  content: "\ee78";
}

.icon-bars:before {
  content: "\ee7f";
}

.icon-link:before {
  content: "\ee8c";
}

.icon-user:before {
  content: "\ee9d";
}

.icon-search:before {
  content: "\eea3";
}

.icon-tags:before {
  content: "\eeb1";
}

.icon-tagso:before {
  content: "\eeb2";
}

.icon-edit:before {
  content: "\eec6";
}

.icon-scan:before {
  content: "\eecc";
}

.icon-like:before {
  content: "\eed2";
}

.icon-dislike:before {
  content: "\eed3";
}

.icon-delete:before {
  content: "\eed4";
}

.icon-upload:before {
  content: "\eeec";
}

.icon-download:before {
  content: "\eeed";
}

.icon-piechart:before {
  content: "\eeee";
}

.icon-calendar:before {
  content: "\eef1";
}

.icon-plussquare:before {
  content: "\eef6";
}

.icon-minussquare:before {
  content: "\eef7";
}

.icon-closesquare:before {
  content: "\eef8";
}

.icon-closesquareo:before {
  content: "\eef9";
}

.icon-checksquare:before {
  content: "\eefa";
}

.icon-checksquareo:before {
  content: "\eefb";
}

.icon-upsquare:before {
  content: "\eefe";
}

.icon-downsquare:before {
  content: "\eeff";
}

.icon-leftsquare:before {
  content: "\ef00";
}

.icon-rightsquare:before {
  content: "\ef01";
}

.icon-rightsquareo:before {
  content: "\ef02";
}

.icon-leftsquareo:before {
  content: "\ef03";
}

.icon-downsquareo:before {
  content: "\ef04";
}

.icon-upsquareo:before {
  content: "\ef05";
}

.icon-play:before {
  content: "\ef06";
}

.icon-playcircleo:before {
  content: "\ef07";
}