//input group
.input-group {
  display: inline-block;
  font-size: 0;
}

.input-group {
  > .input-group-addon {
    padding: $input-btn-padding-y $input-btn-padding-x; //根据input的尺寸需要调整
    font-size: $font-size-base; //根据input的尺寸需要调整
    line-height: $input-btn-line-height; //根据input的尺寸需要调整
    background-color: $input-group-addon-bg;
    border: $input-border-width solid $input-border-color;
    border-radius: $input-border-radius;
  }
  > * {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: auto;
    vertical-align: middle;
    

    &:not(:first-child) {
      margin-left: -$input-border-width;
    }

    &:not(:first-child):not(:last-child) {
      @include border-radius(0);
    }
    &:first-child:not(:last-child) {
      @include border-right-radius(0);
    }
    &:last-child:not(:first-child) {
      @include border-left-radius(0);
    }

    &:focus {
      z-index: 2;
    }
  }
}