//input-number

%input-number-handle {
  display: block;
  width: 100%;
  height: 50%;
  text-align: center;
  cursor: pointer;
  transition: all .1s linear;
  i, [class*="icon-"] {
    @extend .text-xs;
    display: block;
    line-height:1;  //限制高度为12px
  }

  &.disabled {
    @extend %input-handle-disable;
  }
}

%input-handle-disable {
  cursor: not-allowed;
  background-color: #eee;
}

%input-number-disable {
  & {
    @extend %input-disabled;
  }
  .input-number-handle-wrap {
    display: none;
  }
}

.input-number {
  @extend %input;
  padding: 0;
  &:hover {
    .input-number-handle-wrap {
      opacity: 1;
    }
  }

  &.focus {
    border-color: #3187f6;
    outline: 0;
    box-shadow: 0 0 2px 1px rgba(49,135,246,.50);
    .input-number-handle-wrap {
      opacity: 1;
    }
  }

  &.disabled {
    &,
    &:hover {
      @extend %input-number-disable;
    }
  }
}

.input-number-input {
  width: 100%;
  padding: 0 7px;
  height: 28px;  //normal(30) - 2px(border)
  border: 0;
  color: rgba(0,0,0,.65);
  text-align: left;
  outline: 0;
  background-color: #fff;

  //因为他不是input类的扩展，所以需要重新定义disabled效果
  &[disabled] {
    @extend %input-disabled;
  }
}

.input-number-handle-wrap {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  opacity: 0;
  overflow: hidden;
  width: 22px;
  height: 100%;
  border-left: 1px solid #d9d9d9;
  background: #fff;
  @include border-right-radius(4px);
  //transition: opacity .24s linear .1s; //TODO
}

.input-number-handle-up {
  @extend %input-number-handle;
  padding-top: 2px;  
}

.input-number-handle-down {
  @extend %input-number-handle;
  padding-top: 1px; //多1px border
  border-top: 1px solid #d9d9d9;
}