//input group
.input-group {
  position: relative;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;

  .input-group-addon,
  .input,
  .btn,
  .select,
  .input-affix-wrapper {
    display: table-cell;

    &:hover,
    &:focus {
      z-index: 1;
    }

    &:not(:first-child):not(:last-child) {
      @include border-radius(0);
    }

    &:first-child:not(:last-child) {
      @include border-right-radius(0);
    }

    &:last-child:not(:first-child) {
      @include border-left-radius(0);
    }
  }



  .input-group-addon,
  .btn,
  .select {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;

    &:first-child {
      border-right: 0;
    }

    &:last-child {
      border-left: 0;
    }
  }

  .input,
  .input-affix-wrapper {
    float: left;
  }

  .input-affix-wrapper {
    width: 100%;
  }

}


.input-group-addon {
  @extend .text-xs;
  display: inline-block;
  height: 30px;
  padding: 0px 10px;
  background: #fff;
  border: 1px solid #d9d9d9;
  text-align: center;
  transition: all .3s;
} 

.input-group-addon.input-group-addon-sm {
 height: 24px;
 padding: 0px 10px;
}