//input TODO 占位符的整理
%input-affix {
  position: absolute;
  top: 50%;
  z-index: 2;
  color: rgba(0,0,0,.65);
  transform: translateY(-50%);
} 

%disabled {
  cursor: not-allowed;
  background-color: #eee;
}
%input-disabled {
  @extend %disabled;
  border-color: #d9d9d9;
}

%input {
  @extend .text-xs;
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  width: 100%;
  height: 30px;
  color: #333;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  cursor: text;
  transition: all .3s;

  &::placeholder {
    color: #999;
    opacity: 1;
  }

  &:hover,
  &:focus {
    border-color: #3187f6;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 2px 1px rgba(49,135,246,.50);
  }

  &.error {
    border: 1px solid #e6412c;
    &:focus {
      box-shadow: 0 0 2px 1px rgba(230,65,44,.30);
    }
  }

  &[disabled] {
    &,
    &:hover {
      @extend %input-disabled;
    }
  }
}

.input {
  @extend %input;
}

.input.input-sm {
  height: 24px;
  padding: 1px 10px;
}

.input{
  &.input-w-lg {
    width: 240px;
  }
  &.input-w-md {
    width: 150px;
  }
    &.input-w-sm {
    width: 80px;
  }
}

.input.input-textarea {
  height: 60px;
}