//input group
.input-group {
  position: relative;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;

  .input-group-addon,
  .input,
  .select,
  .input-affix-wrapper,
  .input-group-btn-wrapper,
  .input-number {
    display: table-cell;

    &:hover,
    &:focus {
      z-index: 1;
    }

    &.focus {
      z-index: 1; //有些是input是模拟的，需要手动添加focus类
    }

    &:not(:first-child):not(:last-child) {
      @include border-radius(0);
    }

    &:first-child:not(:last-child) {
      @include border-right-radius(0);
    }

    &:last-child:not(:first-child) {
      @include border-left-radius(0);
    }
  }

  // group中，带输入框的部分
  .input,
  .input-affix-wrapper,
  .input-number {
    float: left;
    width: 100%;
  }

  //group中，不带输入框的部分
  .input-group-addon,
  .select,
  .input-group-btn-wrapper {
    width: 1px;
    white-space: nowrap;
    vertical-align: middle;
  }

  .input-group-addon,
  .select {
    &:first-child {
      border-right: 0;
    }

    &:last-child {
      border-left: 0;
    }
  }

  .input-group-btn-wrapper {
    height: 30px;
    &:last-child {
      .btn {
        @include border-left-radius(0);
      }
    }
    &:first-child {
      .btn {
        @include border-right-radius(0);
      }
    }
  }

  &.disabled {
    &,
    & > * {
      @extend %disabled;
    }

    .input-affix-wrapper {
      @extend %input-affix-wrapper-disabled;
    }

    .input-number {
      @extend %input-number-disable;
    }

  }

}

.input-group-addon {
  @extend .text-xs;
  display: inline-block;
  height: 30px;
  padding: 0px 10px;
  background: #fff;
  border: 1px solid #d9d9d9;
  text-align: center;
  transition: all .3s;

  i[class*="icon-"], [class*="icon-"] {
    vertical-align: middle;
  }
} 

.input-group-addon.input-group-addon-sm {
 height: 24px;
 padding: 0px 10px;
}