//List Groups
.list-group {
  &,
  &.tree{
    position: absolute;
    display: none;
    padding: 0;
    font-size: $list-group-font-size;
    color: $list-group-color;
    text-align: left;
    cursor: pointer;
    background-color: $list-group-background-color;
    background-clip: padding-box;
    border: 1px solid $list-group-border-color;
    box-shadow: $list-group-box-shadow;
    border-radius: $list-group-border-radius;
    margin-top: 4px;
    max-height: $list-group-item-height * 7;
    overflow-y: auto;
  }
  
  .check-all-warp,
  .list-group-item,
  &.tree li {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0 $list-group-item-padding-x;
    height: $list-group-item-height;
    line-height: $list-group-item-height;
    white-space: nowrap;
    transition: all .3s ease-out;
    &:hover {
      background: $list-group-item-background-color-hover;
    }
    &.active {
      color: $list-group-item-color-active;
    }
  }
  
  .check-all-warp,
  &.tree li {
    &.active {
      .tree-node-name {
        color: $list-group-item-color-active;
      }
    }
    .tree-node-name {
      display: block;
      font-size: $list-group-font-size;
      height: $list-group-item-height;
      line-height: $list-group-item-height;
      padding: 0;
      &:hover {
        background-color: transparent;
      }
      &.tree-node-selected {
        background-color: transparent;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}