//List Groups
.list {
  &,
  &.tree{
    position: absolute;
    display: none;
    padding: 0;
    font-size: $list-font-size;
    color: $list-color;
    text-align: left;
    cursor: pointer;
    background-color: $list-background-color;
    background-clip: padding-box;
    border: 1px solid $list-border-color;
    box-shadow: $list-box-shadow;
    border-radius: $list-border-radius;
    max-height: $list-item-height * 7;
    overflow-y: auto;
    user-select: none;
    @include scrollbar();
    z-index: $zindex-list;
  }
  
  .check-all,
  .list-item,
  &.tree li {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0 $list-item-padding-x;
    height: $list-item-height;
    line-height: $list-item-height;
    white-space: nowrap;
    transition: all .3s ease-out;
    &:hover {
      background: $list-item-background-color-hover;
    }
    &.list-item-selected {
      color: $list-item-color-active;
    }
    &.list-item-disabled {
      &,
      * {
        cursor: not-allowed;
        color: $list-item-color-disabled;
      }
    }
    span {
      display: block;
      @include text-truncate;
    }
  }
  
  .check-all,
  &.tree li {
    .tree-icon {
      line-height: $list-item-height;
    }
    .tree-node {
      display: block;
      font-size: $list-font-size;
      height: $list-item-height;
      line-height: $list-item-height;
      padding: 0;
      @include text-truncate;
      &:hover {
        background-color: transparent;
      }
      &.tree-node-selected {
        color: $list-item-color-active;
        &,
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}