//menu ul.menu

.menu {
  position: relative;
}

.menu-title {
  @extend .text-lg;
  color: $white;
  line-height: 40px;
  background-color: #232839;
  text-align: center;

  .icon {
    font-size: 12px;
    margin-right: 4px;
  }
}

.menu-content {
  padding: 14px 40px;
  font-size: 0;

  .menu-nav {
    @extend .text-md;
    display: inline-block;
    color: $gray-500;
    width: 50%;
    margin-bottom: 15px;

    .menu-nav-btn {
      display: inline-block;
      color:  #7F92A5;
      border-bottom: 1px solid transparent;

      &:hover {
        color: #1b9afe;
      }

      &:link {
        text-decoration: none;
      }

      &.active {
        color: #1b9afe;
        border-bottom: 1px solid #1b9afe;
      }
    }

    &:nth-child(even) {
      padding-left: 20px; //150 - (260 / 2)
    }

    &.active {
      .menu-nav-btn {
        color: #1b9afe;
        border-bottom: 1px solid #1b9afe;
      }
    }
  }
}

.menu-content.menu-content-vertical {
  .menu-nav {
    width: 100%;
    display: block;
  }
}