// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and stuff
// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

.fade {
  opacity: 0;
  @include transition(opacity .15s linear);
  &.in {
    opacity: 1;
  }
}

// Container that the modal scrolls within
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal;
  display: none;
  overflow: hidden;
  outline: 0; 
  &.fade .modal-dialog,
  &.fade .modal-confirm,
  &.fade .modal-alert,
  &.fade .modal-detail {
    @include transition($modal-transition);
    transform: translate(0, -25%);
  }
  &.in .modal-dialog,
  &.in .modal-confirm,
  &.in .modal-alert,
  &.in .modal-detail {
    transform: translate(0, 0);
  }
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

// Actual modal
.modal-content {
  position: relative;
  background-color: $modal-content-bg;
  background-clip: padding-box; 
  @include border-radius($modal-content-border-radius);
  @include box-shadow($modal-content-box-shadow);
  outline: 0;
}

// Modal background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal-backdrop;
  background-color: $modal-backdrop-bg; 
  &.fade {
    opacity: 0;
  }
  &.in {
    opacity: $modal-backdrop-opacity;
  }
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  height: $modal-header-height;
  padding: $modal-header-padding; 
  border-bottom: $modal-header-border-width solid $modal-header-border-color;
  @include border-top-radius($modal-content-border-radius);
  .modal-close {
    position: absolute;
    color: $modal-close-color;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      &:before {
        color: $modal-close-hover-color;
      }
    }
    &:before {
      @include iconfont-font("\EE64");
      position: absolute;
      top: -4px;
      right: -2px;
      font-size: 14px;
    }
    top:$modal-close-top;
    right: $modal-close-right;
  }
}

// Title text within header
.modal-title {
  font-size: $modal-font-size-base;
  line-height: $modal-title-line-height;
  padding-right: 10px;
  color: $modal-title-color;
}

.modal-title-desc {
  font-size: $modal-font-size-sm;
  line-height: $modal-title-line-height;
  color: $modal-title-desc-color;
}

// Modal body
.modal-body {
  font-size: $modal-font-size-base;
  position: relative;
  padding: $modal-inner-padding;
}

// Footer (for actions)
.modal-footer {
  padding: $modal-footer-padding;
  text-align: right;
  background-color: $modal-footer-bg;
  border-top: $modal-footer-border-width solid $modal-footer-border-color;
  @include border-bottom-radius($modal-content-border-radius); // Easily place margin between footer elements
  > :not(:first-child) {
    margin-left: $modal-footer-btn-margin;
  }
  > :not(:last-child) {
    margin-right: $modal-footer-btn-margin;
  }
}

.modal-lg .modal-dialog,
.modal-lg .modal-confirm,
.modal-md .modal-alert,
.modal-lg .modal-detail {
  width: $modal-lg;
}

.modal-md .modal-dialog,
.modal-md .modal-confirm,
.modal-md .modal-alert,
.modal-md .modal-detail {
  width: $modal-md;
}

.modal-sm .modal-dialog,
.modal-sm .modal-confirm,
.modal-sm .modal-alert,
.modal-sm .modal-detail {
  width: $modal-sm;
}

.modal-dialog,
.modal-confirm,
.modal-alert,
.modal-detail {
  position: relative;
  margin: $modal-dialog-margin-y auto; // top: 50% !important;
  // transform: translateY(-60%) !important;
}

.modal-confirm,
.modal-alert {
  .modal-header,
  .modal-footer {
    display: none;
  }
  .modal-body {
    padding: $modal-confirm-body-padding;
  }
  .modal-confirm-body {
    margin-bottom: $modal-confirm-body-margin-bottom;
  }
  .modal-confirm-btns {
    text-align: right;
    > :not(:first-child) {
      margin-left: $modal-footer-btn-margin;
    }
    > :not(:last-child) {
      margin-right: $modal-footer-btn-margin;
    }
  }
  .tip-message {
    display: block;
    font-size: $modal-font-size-base;
    font-weight: bold;
    line-height: $modal-tip-message-line-height;
    margin-bottom: $modal-tip-message-margin-bottom;
    &:before {
      position: absolute;
       @include iconfont-font("\EE5D");
      top: $modal-tip-icon-top;
      left: $modal-tip-icon-left;
      color: $modal-tip-icon-color;
      font-size: $modal-tip-icon-font-size;
    }
  }
  .tip-desc {
    display: block;
    font-size: $modal-font-size-sm;
    line-height: $modal-tip-desc-line-height;
  }
}

.modal-detail {
  .modal-title{
    color:$modal-detail-title-color;
  }
  .modal-header {
    height: $modal-detail-height;
    border-bottom-width: 0;
    padding: $modal-detail-padding;
  }
  .modal-body {
    padding: $modal-detail-body-padding;
  }
  .modal-footer {
    padding: $modal-detail-footer-padding;
    border-top-width: 0;
    .secondary {
      float: left;
    }
    .secondary-desc {
      font-size: $modal-font-size-sm;
      color: $modal-detail-footer-secondary-desc-color;
      ;
    }
  }
}