// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and stuff
// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal;
  display: none;
  overflow: hidden; // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0; // We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
  // gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
  // See also https://github.com/twbs/bootstrap/issues/17695
  // When fading in the modal, animate it to slide down
  &.fade .modal-dialog {
    @include transition($modal-transition);
    transform: translate(0, -25%);
  }
  &.in .modal-dialog {
    transform: translate(0, 0);
  }
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  position: relative;
  margin: $modal-dialog-margin-y auto;
}

.modal-lg .modal-dialog {
  width: $modal-lg;
}

.modal-md .modal-dialog {
  width: $modal-md;
}

.modal-sm .modal-dialog {
  width: $modal-sm;
}

// Actual modal
.modal-content {
  position: relative;
  background-color: $modal-content-bg;
  background-clip: padding-box; // border: $modal-content-border-width solid $modal-content-border-color;
  @include border-radius($modal-content-border-radius);
  @include box-shadow($modal-content-box-shadow); // Remove focus outline from opened modal
  outline: 0;
}

// Modal background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal-backdrop;
  background-color: $modal-backdrop-bg; // Fade for backdrop
  &.fade {
    opacity: 0;
  }
  &.in {
    opacity: $modal-backdrop-opacity;
  }
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  height: 50px;
  padding: $modal-header-padding; // background-color: $modal-header-bg;
  border-bottom: $modal-header-border-width solid $modal-header-border-color;
  @include border-top-radius($modal-content-border-radius);
}

// Title text within header
.modal-title {
  font-size: 14px;
  margin-bottom: 0;
  line-height: $modal-title-line-height;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  font-size: 14px;
  position: relative;
  padding: $modal-inner-padding;
}

// Footer (for actions)
.modal-footer {
  padding: $modal-footer-padding;
  text-align: right;
  background-color: $modal-footer-bg;
  border-top: $modal-footer-border-width solid $modal-footer-border-color;
  @include border-bottom-radius($modal-content-border-radius); // Easily place margin between footer elements
  > :not(:first-child) {
    margin-left: .25rem;
  }
  > :not(:last-child) {
    margin-right: .25rem;
  }
}

.modal-confirm {
  .modal-header,
  .modal-footer {
    display: none;
  }
  .modal-body {
    padding: 50px 40px 40px 80px;
  }
  .modal-confirm-body {
    margin-bottom: 17px;
  }
  .modal-confirm-btns {
    text-align: right;
  }
  .tip-icon {
    position: absolute;
    top: 49px;
    left: 40px;
  }
  .tip-message {
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
  }
  .tip-desc {
    display: block;
    font-size: 12px;
    line-height: 21px;
  }
}

.modal-datail {
  .modal-header {
    border-bottom-width: 0;
    .close {
      display: none;
    }
  }
  .modal-body {
    padding: 0px 20px 7px 20px;
  }
  .modal-footer {
    border-top-width: 0;
    .secondary {
      float: left;
    }
    .secondary-desc {
      font-size: 12px;
      color: #999;
    }
  }
}