// $pagination-prefix: 'pagination'; 
//pagination
.pagination {
  display: inline-block;
  padding-left: 0; //修改浏览器的默认行为
  font-size: 0; //消除inline-block之间的间隙
  * {
    font-size: $pagination-font-size;
  }
  &:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
  }
  li {
    display: inline-block;
    margin-right: 8px;
    &:last-child{
      margin-right: 0;
    }
  }
  .pagination-item {
    cursor: pointer;
    border-radius: $pagination-border-radius;
    user-select: none;
    min-width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    list-style: none;
    vertical-align: middle;
    border: $pagination-border-width $pagination-border-style $pagination-border-color;
    background-color: $pagination-bg;
    font-family: Arial;
    outline: 0;
    a {
      text-decoration: none;
      color: $pagination-color;
      transition: none;
      margin: 0 6px;
    }
    &:focus,
    &:hover {
      transition: all .3s;
      border-color: $pagination-primary-color;
      a {
        color: $pagination-primary-color;
      }
    }
  }
  .pagination-item-active {
    background-color: $pagination-primary-color;
    border-color: $pagination-primary-color;
    &:focus,
    &:hover {
      background-color: $pagination-primary-color-5;
      border-color: $pagination-primary-color-5;
    }
    a,
    &:focus a,
    &:hover a {
      color: #fff;
    }
  }
  .pagination-jump-prev,
  .pagination-jump-next {
    outline: 0;
    &:after {
      content: "\2022\2022\2022";
      display: block;
      letter-spacing: 2px;
      color: $pagination-disabled-color;
      text-align: center;
    }
    &:focus,
    &:hover {
      &:after {
        color: $pagination-primary-color;
        // @include iconfont-size-under-12px(9px);
        letter-spacing: -1px;
        font-family: "iconfont" !important;
      }
    }
  }
  .pagination-jump-prev {
    &:focus,
    &:hover {
      &:after {
        content: "\ee49";
      }
    }
  }
  .pagination-jump-next {
    &:focus,
    &:hover {
      &:after {
        content: "\ee48";
      }
    }
  }
  .pagination-first,
  .pagination-last,
  .pagination-prev,
  .pagination-next,
  .pagination-jump-prev,
  .pagination-jump-next {
    font-family: Arial;
    cursor: pointer;
    color: $pagination-color;
    border-radius: $pagination-border-radius;
    list-style: none;
    min-width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    transition: all .3s;
    display: inline-block;
    vertical-align: middle;
  }
  .pagination-first,
  .pagination-last,
  .pagination-prev,
  .pagination-next {
    border: $pagination-border-width $pagination-border-style $pagination-border-color;
    background-color: $pagination-bg;
    outline: 0;
    a {
      color: $pagination-color;
      outline: none;
      &:after {
        // @include iconfont-size-under-12px(9px);
        display: block;
        height: 26px;
        line-height: 26px;
        font-family: "anticon";
        text-align: center;
      }
    }
    &:focus,
    &:hover {
      border-color: $pagination-primary-color;
      a {
        color: $pagination-primary-color;
      }
    }
  }
  .pagination-first {
    a {
      &:after {
        @include iconfont-font("\EE42");
      }
    }
  }
  .pagination-last {
    a {
      &:after {
        @include iconfont-font("\EE41");
      }
    }
  }
  .pagination-prev {
    a {
      &:after {
        @include iconfont-font("\EE51");
      }
    }
  }
  .pagination-next {
    a {
      &:after {
        @include iconfont-font("\EE50");
      }
    }
  }
  .pagination-disabled {
    &:hover {
      border-color: $pagination-border-color;
      a {
        color: $pagination-disabled-color;
        cursor: not-allowed;
      }
    }
    cursor: not-allowed;
    a {
      color: $pagination-disabled-color;
    }
  }
  .pagination-size-changer,
  .pagination-quick-jumper {
    display: inline-block;
    vertical-align: middle;
  }
  .pagination-size-changer {
    margin-left: 8px;
    margin-right: 16px;
    .select{
      width: 82px;
      height: 28px;   
      line-height: 28px; 
    }
    .select .selected {
      color: $pagination-color;
    }
  }
  .pagination-quick-jumper {
    height: $pagination-input-height;
    line-height: $pagination-input-height;
    color: $pagination-color;
    .input {
      margin: 0 8px;
      width: 50px;
      height: $pagination-input-height;
    }
  }
}

.pagination {
  &.mini .pagination-item {
    border: 0;
    margin: 0;
    min-width: 20px;
    height: 20px;
    line-height: 20px;
  }
  &.mini .pagination-first,
  &.mini .pagination-last,
  &.mini .pagination-prev,
  &.mini .pagination-next {
    margin: 0;
    min-width: 20px;
    height: 20px;
    line-height: 20px;
    border: 0;
    a {
      &:after {
        height: 20px;
        line-height: 20px;
      }
    }
  }
  &.mini .pagination-jump-prev,
  &.mini .pagination-jump-next {
    height: 20px;
    line-height: 20px;
  }
  &.mini .pagination-quick-jumper {
    height: 20px;
    line-height: 20px;
    input {
      width: 44px;
      height:20px;
    }
  }
  &.mini .pagination-size-changer {
    .select {
      width: 82px;
      height: 20px;
      line-height: 20px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .pagination-item {
    .pagination-after-jump-prev,
    .pagination-before-jump-next {
      display: none;
    }
  }
}