//pagination

.shark-pager {
  padding-left: 0; //修改浏览器的默认行为
  font-size: 0; //消除inline-block之间的间隙
}

.shark-pager {
  li {
    display: inline-block;
    font-size: $pagination-font-size;
    color: $pagination-color;

    &:first-child {
      margin-right: 15px;
    }

    &:last-child {
      margin-left: 15px;
    }

    a {
      display: inline-block;
      padding: $pagination-item-padding-y $pagination-item-padding-x;
      line-height: 1;
      color: inherit;
      text-decoration: none;
    }

    @include hover {
      a {
        background: $pagination-hover-bg;
      }
    };

    &.active {
      a {
        color: $pagination-active-color;
        background: $pagination-active-bg;
      }
    }

    &.disabled {
      a {
        color: $pagination-disable-color;
        background: transparent;
      }
    }

  }
}
