.progress {
  display: inline-block; // font-size: $progress-font-size;
  font-size: 0;
} //横线进度条
.progress-line {
  width: 100%;
  font-size: $progress-font-size;
  .progress-outter {
    display: inline-block;
    width: 100%;
    margin-right: 0;
    padding-right: 0;
    .progress-inner {
      display: inline-block;
      width: 100%;
      background-color: $progress-line-bg;
      border-radius: 100px;
      vertical-align: middle;
      .progress-bg {
        border-radius: 100px;
        background: $progress-primary-color;
      }
    }
  }
  &.progress-show-info .progress-outter {
    margin-right: -3.5em;
    padding-right: 2.75em;
  }
  .progress-text {
    width: 2em;
    text-align: left;
    font-size: 1em;
    margin-left: .75em;
    vertical-align: middle;
    display: inline-block;
  }
  &.progress-line-aniamte {
    .progress-bg {
      transition: width .1s;
    }
  }
} //圈圈进度条 
.progress-circle {
  position: relative;
  text-align: center;
  font-size: 0;
  .progress-circle-layer {
    stroke: $progress-line-bg;
  }
  .progress-circle-upper {
    stroke: $progress-primary-color;
  }
  .progress-status-text {
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 1;
    font-size: $progress-font-size;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    margin: 0;
    display: none;
    visibility: hidden;
  }
  .btn.progress-cancel-loading {
    display: none;
    visibility: hidden;
  }
  .progress-loading-text {
    margin-top: 15px;
    text-align: center;
    font-size: $progress-loading-text-font-size;
    color: $progress-loading-text-color;
  }
  .btn-link.progress-cancel-loading {
    font-size: 0;
    margin-top: 9px;
    height: 20px;
    color: $progress-primary-color;
  }
  &.progress-show-cancel {
    font-size: 0;
    .progress-loading-text,
    .progress-cancel-loading {
      display: block;
      visibility: visible;
    }
    .btn-link.progress-cancel-loading {
      font-size: $progress-font-size;
    }
  }
} // 容器加载
.progress-wrap {
  position: relative;
  .progress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &.progress-status-finish,
  &.progress-status-error {
    width: 40px;
    height: 40px;
    .progress-status-text {
      display: block;
      visibility: visible;
    }
    .progress {
      animation: .3s ease-out .3s progress-fade-out forwards;
    }
    .progress-circle-svg {
      animation: .3s ease-out .3s progress-svg-fade-out forwards;
    }
    .progress-status-text {
      color: $progress-status-finish-color;
      display: block;
      visibility: visible;
    }
  } // 完成状态
  &.progress-status-finish {
    .progress-status-text {
      color: $progress-status-finish-color;
    }
    .progress-status-icon {
      &:after {
        @include iconfont-font("\EE63");
        font-size: 23px;
      }
    }
  } // 错误状态
  &.progress-status-error {
    .progress-status-text {
      color: $progress-status-error-color;
    }
    .progress-circle-upper {
      stroke: $progress-status-error-color;
    }
    .progress-status-icon {
      &:after {
        @include iconfont-font("\EE64");
        font-size: 18px;
      }
    }
  }
}

@keyframes progress-fade-out {
  99% {
    opacity: 0;
    visibility: hidden;
    display: none !important;
    width: auto;
    height: auto;
  }
  to {
    opacity: 0;
    visibility: hidden;
    display: none !important;
    height: 0;
    width: 0;
  }
}

@keyframes progress-svg-fade-out {
  99% {
    opacity: 0;
    visibility: hidden;
    display: none !important;
    width: 40px;
    height: 40px;
  }
  to {
    opacity: 0;
    visibility: hidden;
    display: none !important;
    height: 0;
    width: 0;
  }
} // 全屏加载
.progress-wrap.progress-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .progress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}