.progress {
  display: inline-block;
  width: 100%;
  font-size: $progress-font-size-base;
  .progress-outter {
    display: inline-block;
    width: 100%;
    margin-right: 0;
    padding-right: 0;
    .progress-inner {
      display: inline-block;
      width: 100%;
      background-color: $progress-line-bg;
      border-radius: 100px;
      vertical-align: middle;
      .progress-bg {
        border-radius: 100px;
        background: $progess-primary-color;
      }
    }
  }
  .progress-text {
    width: 2em;
    text-align: left;
    font-size: 1em;
    margin-left: .75em;
    vertical-align: middle;
    display: inline-block;
  }
}

.progress-show-info .progress-outter {
  margin-right: -3.5em;
  padding-right: 2.75em;
}