$progress-width: 82px;
$progress-height: 112px;
// $progress-circle-svg-width: 40px;
// $progress-circle-svg-height: 40px;
.progress {
  display: inline-block;
  font-size: 0;
} //横线进度条
.progress-line {
  width: 100%;
  font-size: $progress-font-size;
  .progress-outter {
    display: inline-block;
    width: 100%;
    margin-right: 0;
    padding-right: 0;
    .progress-inner {
      display: inline-block;
      width: 100%;
      background-color: $progress-line-bg;
      border-radius: 100px;
      vertical-align: middle;
      .progress-bg {
        border-radius: 100px;
        background: $progress-primary-color;
      }
    }
  }
  &.progress-show-info .progress-outter {
    margin-right: -3.5em;
    padding-right: 2.75em;
  }
  .progress-text {
    width: 2em;
    text-align: left;
    font-size: 1em;
    margin-left: .75em;
    vertical-align: middle;
    display: inline-block;
  }
  &.progress-line-aniamte {
    .progress-bg {
      transition: width .1s;
    }
  }
} //圈圈进度条 
.progress-circle {
  position: relative;
  text-align: center;
  font-size: 0;
  width: $progress-width;
  height: $progress-height;
  .progress-circle-layer {
    stroke: $progress-line-bg;
  }
  .progress-circle-upper {
    stroke: $progress-primary-color;
  }
  .progress-status-text {
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 1;
    font-size: $progress-font-size;
    top: 9px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    display: none;
    visibility: hidden;
  }
  .progress-cancel-loading {
    display: none;
    visibility: hidden;
  }
  .progress-loading-text {
    margin-top: 15px;
    text-align: center;
    font-size: $progress-loading-text-font-size;
    color: $progress-loading-text-color;
  }
  .progress-cancel-loading {
    font-size: 0;
    margin-top: 9px;
    height: 20px;
    color: $progress-primary-color;
  }
} // 容器加载
.progress-wrap,
.progress-fullscreen {
  position: relative;
  z-index: 999;
  .progress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &.progress-show-cancel {
      font-size: 0;
      .progress-loading-text,
      .progress-cancel-loading {
        display: block;
        visibility: visible;
      }
      .progress-cancel-loading {
        font-size: $progress-font-size;
      }
    }
    &.progress-finished,
    &.progress-error {
      width: $progress-width;
      height: $progress-height;
      opacity: 0;
      visibility: hidden;
      transition: opacity .3s ease-out .3s, visibility .3s ease-out.3s;
      .progress-status-text {
        display: block;
        visibility: visible;
      }
      .progress-loading-text,
      .progress-cancel-loading {
        display: none;
      }
    } // 完成状态
    &.progress-finished {
      .progress-status-text {
        color: $progress-finished-color;
      }
      .progress-status-icon {
        &:after {
          @include iconfont-font("\EE63");
          font-size: 23px;
        }
      }
    } // 错误状态
    &.progress-error {
      .progress-status-text {
        color: $progress-error-color;
      }
      .progress-circle-upper {
        stroke: $progress-error-color;
      }
      .progress-status-icon {
        &:after {
          @include iconfont-font("\EE64");
          font-size: 23px;
        }
      }
    }
  }
}

// 全屏加载
.progress-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}