//progress div.progress
@keyframes progress-bar-stripes {
  from { background-position: $progress-height 0; }
  to { background-position: 0 0; }
}

.progress {
  height: $progress-height;
  overflow: hidden;
  background-color: $progress-bg;
  border-radius: $progress-border-radius;
  box-shadow: $progress-box-shadow;
}

.progress-bar {
  float: left;
  width: 0;
  height: $progress-height;
  font-size: $progress-font-size;
  line-height: $progress-height;
  text-align: center;
  color: $progress-color;
  background-color: $progress-bra-bg;
  transition: $progress-bar-transition;
}

.progress-bar-striped {
  @include gradient-striped($progress-striped-color, $progress-striped-deg);
  background-size: $progress-height $progress-height;
}

.progress-bar-animated {
  animation: progress-bar-stripes $progress-bar-animation-timing;
}