//radio   label.radio
/**
 * <label class="radio-wrapper">
 *    <span class="radio">
 *         <input type="radio" class="radio-input"/>
 *         <span class="radio-inner"></span>
 *     </span>
 *     <span>radio</span>
 * </label>
 *
*/


.radio-wrapper {
  position: relative;
  display: inline-block;
  font-size: $radio-font-size;
  color: $radio-color;
  white-space: nowrap;
  cursor: pointer;
}

.radio {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: text-bottom;
  .radio-input {
    position: absolute;
    top: 0;
    left:0;
    z-index: 1;
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
  }
  .radio-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 1px solid $radio-inner-border-color;
    border-radius: 50%;
    background-color: $radio-inner-bg;
    transition: all .3s;
  }

  &:after {
    position: absolute;
    display: none;
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $radio-after-bg;
  }
}

.radio-wrapper:hover .radio{
  .radio-inner{
    border-color: $radio-inner-hover-border-color;
  }
}

.radio-wrapper.radio-wrapper-checked {
  &.radio-wrapper-disabled {
    .radio:after {
      background-color: $radio-disabled-bg;
    }
  }
  .radio {
    .radio-inner {
      border-color: $radio-inner-checked-border-color;
    }

    &:after {
      display: block;
    }
  }
}

.radio-wrapper.radio-wrapper-disabled .radio {

  .radio-inner {
    border-color: $radio-inner-border-color;
    background-color: $radio-inner-disabled-bg; 
  }

  & + * {
    color: $radio-disabled-color;
  }
}

.radio + * {
  padding: 0 8px;
}


