//radio   label.radio
/**
 * <label class="radio-wrapper">
 *    <span class="radio">
 *         <input type="radio" class="radio-input"/>
 *         <span class="radio-inner"></span>
 *     </span>
 *     <span>radio</span>
 * </label>
 *
*/


.radio-wrapper {
  @extend %select-wrapper;
}

.radio {
  @extend %select-item;
  .radio-input {
    @extend %select-input;
  }
  .radio-inner {
    @extend %select-inner;
    border-radius: 50%;
  }

  &:after {
    position: absolute;
    display: none;
    content: "";
    top: 5px;
    left: 5px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
  }
}

.radio-wrapper:hover .radio{
  .radio-inner{
    border-color: #3187f6;
    background-color: #ebf3ff;
  }
}

.radio-wrapper.disabled {

  &,
  & input {
    cursor: not-allowed;
  }

  .radio {
    .radio-inner {
      border-color: #d9d9d9;
      background-color: #e8e8e8; 
    }
  }

}

.radio-wrapper.checked {
  &.disabled {
    .radio {
      .radio-inner {
        border-color: #d9d9d9;
        background-color: #fff;
      }
      
      &:after {
        background-color: #999;
      }
      
    }
  }
  .radio {
    .radio-inner {
      border-color: #459aff;
      background-color: #459aff;
    }

    &:after {
      background-color: #fff;
      display: block;
    }
  }
}

.radio-group {
  @extend %select-group;
  &.radio-group-vertical {
    @extend %select-group-vertical;
  }
}
