.select {
  position: relative;
  height: $select-height;
  color: $select-color;
  background-color: $select-background-color;
  border: 1px solid $select-border-color;
  border-radius: $select-border-radius;
  font-size: $select-font-size;
  line-height: $select-height - 2px;
  padding: $select-padding;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  transition: $select-transition;
  @include hover-focus {
    border-color: $select-border-color-hover;
    outline: none;
  }
  
  &:active,
  &.active {
    border-color: $select-border-color-hover;
    @include box-shadow($select-box-shadow);
  }

  &.disabled {
    &,
    &:focus,
    &:hover {
      cursor: not-allowed;
      color: $select-color;
      border-color: $select-border-color;
      background-color: $select-background-color-disabled;
    }
  }

  // 带搜索下拉
  &.select-search {
    .select-input-wrap {
      .select-input {
        width: 100%;
        border: none;
        outline: none;
        line-height: $select-height - 4px;
        color: $select-selected-color;
        // Placeholder
        &::placeholder {
          color: $select-color;
          // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
          opacity: 1;
        }
      }
    }
  }
  
  .select-name {
    display: inline-block;
    max-width: 100%;
    @include text-truncate;
    vertical-align: middle;
  }
  &.select-selected {
    .select-name {
      color: $select-selected-color;
    }
  }

}

%select-caret {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    width: 0;
    height: 0;
    vertical-align: middle;
    border: $select-caret-border-width solid transparent;
    border-top-color: $select-color;
    content: " ";
}

//没边框
.select-noborder,
.select-noborder.active,
 .select-noborder:hover {
  border-color: transparent;
  @include box-shadow(none);
}
.select-noborder {
  padding: $select-noborder-padding;
  &:after {
    @extend %select-caret;
    margin-left: 4px;
  }
  &:hover,
  &.active {
    color: $select-noborder-selected-color;
  }
  .select-name, {
    max-width: 90%;
    vertical-align: top;
  }
}

// 单选下拉
.select-single {
  &:after {
    @extend %select-caret;
    right: 10px;
  }
  .select-name {
    vertical-align: top;
  }
}

// 多选下拉
.select-multiple {
  padding: $select-multiple-padding;
  min-height: $select-multiple-min-height;
  height: auto;
  max-height: $select-multiple-max-height;

  &:after {
    @extend %select-caret;
    right: 10px;
  }

  .select-items {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 0;
    vertical-align: top;
    min-height: $select-multiple-min-height - 2px;
    height: auto;
    max-height: $select-multiple-max-height - (2px*3);
    overflow-y: hidden;
    // 滚动条
    &:hover {
      overflow-y: auto;
      @include scrollbar(8px, transparent, $gray-400, $gray-600, transparent);
    }
    .select-item {
      display: inline-block;
      height: $select-item-height;
      line-height: $select-item-height;
      padding: $select-item-padding;
      margin-right: 5px;
      color: $select-item-color;
      font-size: $select-font-size;
      vertical-align: middle;
      background-color: $select-item-background-color;
      border-radius: $select-item-border-radius;
      i[class*="icon-"] {
        @include iconfont-size-under-12px(10px);
        transition: color .2s ease-in-out;
        &:hover {
          color: #000;
        }
      }
    }
  }
  
  &.select-search {
    .select-item-search {
      font-size: $select-font-size;
      vertical-align: middle;
      min-width: 50px;
      display: inline-block;
    }
  }
}

// 三种宽度
.select-w-sm,
.select-w-md,
.select-w-lg {
  display: inline-block;
}
.select-w-sm {
  width: $select-w-sm-width;
}
.select-w-md {
  width: $select-w-md-width;
}
.select-w-lg {
  width: $select-w-lg-width;
}