  .steps {
    font-size: 0;
    width: 100%;
    line-height: 1.5
  }

  .steps {
    .steps-item {
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: 200px;
      &.steps-horizontal {
        .steps-description {
          margin-left: 36px;
        }
      }
      .steps-head {
        background: #fff;
        position: relative;
        z-index: 1;
        .steps-head-inner {
          display: inline-block;
          border: 1px solid rgba(0, 0, 0, .25);
          width: 26px;
          height: 26px;
          line-height: 23px;
          text-align: center;
          border-radius: 26px;
          font-size: 14px;
          margin-right: 8px;
          transition: background-color .3s ease, border-color .3s ease
        }
      }
      &.steps-status-wait {
        .steps-head-inner {
          border-color: $steps-disabled-color;
          background-color: #fff;
          &>.steps-icon {
            color: $steps-disabled-color;
          }
        }
        .steps-description,
        .steps-title {
          color: $steps-done-color;
        }
      }
      &.steps-status-process {
        .steps-head-inner {
          border-color: $steps-primary-color;
          background-color: $steps-primary-color;
          &>.steps-icon {
            color: #fff
          }
        }
        .steps-description,
        .steps-title {
          color: rgba(0, 0, 0, .65)
        }
        .steps-tail>i {
          background-color: #e9e9e9
        }
      }
      &.steps-status-finish {
        .steps-head-inner {
          border-color: $steps-primary-color;
          background-color: #fff;
          &>.steps-icon {
            color: $steps-primary-color;
          }
        }
        .steps-tail>i:after {
          width: 100%;
          background: $steps-primary-color;
          transition: all .6s;
          opacity: 1;
          box-shadow: 0 0 0 0 $steps-primary-color;
          animation: tailEffect .4s
        }
        .steps-description,
        .steps-title {
          color: rgba(0, 0, 0, .43)
        }
      }
      &.steps-status-error {
        .steps-head-inner {
          border-color: #f04134;
          background-color: #fff;
          &>.steps-icon {
            color: #f04134
          }
        }
        .steps-description,
        .steps-title {
          color: #f04134
        }
        .steps-tail>i {
          background-color: #e9e9e9
        }
      }
      &.steps-next-error {
        .steps-tail>i,
        .steps-tail>i:after {
          background-color: #f04134
        }
      }
    }
    .steps-head,
    .steps-main {
      position: relative;
      display: inline-block;
      vertical-align: top
    }
    .steps-head-inner {
      &>.steps-icon {
        line-height: 1;
        color: $steps-primary-color;
        position: relative;
      }
      &>.steps-icon.anticon {
        font-size: 12px
      }
      &>.steps-icon.anticon-check,
      &>.steps-icon.anticon-cross {
        font-weight: 700
      }
    }
    .steps-main {
      margin-top: 2.5px
    }
    .steps-title {
      font-size: 14px;
      margin-bottom: 4px;
      color: rgba(0, 0, 0, .65);
      font-weight: 700;
      background-color: #fff;
      display: inline-block;
      padding-right: 10px
    }
  }

  .steps .steps-title>a:first-child:last-child {
    color: rgba(0, 0, 0, .65)
  }

  .steps .steps-item:last-child .steps-title {
    padding-right: 0;
    width: 100%
  }

  .steps .steps-item:last-child .steps-tail {
    display: none
  }

  .steps .steps-description {
    font-size: 12px;
    color: rgba(0, 0, 0, .43)
  }

  .steps .steps-tail {
    position: absolute;
    left: 0;
    width: 100%;
    top: 13px;
    padding: 0 10px;
  }

  .steps .steps-tail>i {
    display: inline-block;
    vertical-align: top;
    background: #e9e9e9;
    height: 1px;
    border-radius: 1px;
    width: 100%;
    position: relative
  }

  .steps .steps-tail>i:after {
    position: absolute;
    content: "";
    top: 0;
    width: 0;
    background: #e9e9e9;
    height: 100%;
    opacity: 0
  }

  .steps-vertical>.steps-item {
    display: block
  }

  .steps-vertical>.steps-item>.steps-tail {
    position: absolute;
    left: 13px;
    top: 0;
    height: 100%;
    width: 1px;
    padding: 30px 0 4px
  }

  .steps-vertical>.steps-item>.steps-tail>i {
    height: 100%;
    width: 1px
  }

  .steps-vertical>.steps-item>.steps-tail>i:after {
    height: 0;
    width: 100%
  }

  .steps-vertical .steps-status-finish .steps-tail>i:after {
    height: 100%
  }

  .steps-vertical .steps-head {
    float: left
  }

  .steps-vertical .steps-head-inner {
    margin-right: 16px
  }

  .steps-vertical .steps-main {
    min-height: 47px;
    overflow: hidden;
    display: block
  }

  .steps-vertical .steps-main .steps-title {
    line-height: 26px
  }

  .steps-vertical .steps-main .steps-description {
    padding-bottom: 12px
  }

  .steps-vertical .steps-tail {
    position: absolute;
    left: 9px;
    top: 0;
    padding: 22px 0 4px
  }

  .steps-vertical .steps-tail>i {
    height: 100%
  }

  .steps-vertical .steps-title {
    line-height: 18px
  }

  .steps-horizontal.steps-hidden {
    visibility: hidden
  }

  .steps-horizontal .steps-description {
    max-width: 120px
  }

  .steps-horizontal .steps-item:not(:first-child) .steps-head {
    padding-left: 10px;
    margin-left: -10px
  }