.tabs {
  box-sizing: border-box;
  position: relative; 
  zoom: 1;
  color: $tabs-tab-color;
  .tabs-content {
    .tabs-tabpane {
      opacity: 0;
      display: none;
      pointer-events: none;
      &.tabs-tabpane-active {
        opacity: 1;
        display: block;
        pointer-events: auto;
      }
    }
    
  }
  &.tabs-card.tabs-horizontal {
    .tabs-nav {
      font-size: 0;
      padding: 0 0 0 21px;
      border-bottom: $tabs-tab-border-width $tabs-tab-border-style $tabs-tab-border-color;
      .tabs-tab {
        font-size: $tabs-tab-font-size;
        display: inline-block;
        border-top: $tabs-tab-border-width $tabs-tab-border-style $tabs-tab-border-color;
        border-right: $tabs-tab-border-width $tabs-tab-border-style $tabs-tab-border-color;
        height: 40px;
        line-height: 40px;
        padding: 0 40px;
        text-align: center;
        background-color: $tabs-tab-background;
        cursor: pointer;
        transition: color .3s;        
        &:first-child {
          border-left: $tabs-tab-border-width $tabs-tab-border-style $tabs-tab-border-color;
          border-radius: $tabs-tab-border-radius 0 0 0;
        }
        &:last-child {
          border-radius: 0 $tabs-tab-border-radius 0 0;
        }
        &:hover{
          color: $tabs-primary-color;
        }
      }
      .tabs-tab-active {
        background-color: $tabs-tab-active-bg-color;
        color: $tabs-primary-color;
        border-bottom: $tabs-tab-border-width $tabs-tab-border-style $tabs-tab-active-bg-color; 
        box-shadow: 0 -2px 0 -0 $tabs-primary-color;
        border-top: none;
        margin-bottom: -$tabs-tab-border-width;
      }
    }
  }
  &.tabs-card.tabs-vertical {
    @extend .clearfix;
    .tabs-nav {
      font-size: 0; 
      float: left;
      .tabs-tab {
        font-size: $tabs-tab-font-size; 
        max-width: 300px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        padding: 0 40px;
        background-color: $tabs-card-vertical-tab-bg-color; 
        color: $tabs-card-vertical-tab-active-color;
        cursor: pointer;
        transition: background-color .3s;
        &:hover{
        background-color: $tabs-card-vertical-tab-active-bg-color;          
        }
      }
     
      .tabs-tab-active {
        background-color: $tabs-card-vertical-tab-active-bg-color;
        border-left: 4px $tabs-tab-border-style $tabs-primary-color; 
        border-top: none;
      }
    }
    .tabs-content {
      margin-left: 140px;
    }
  }
  &.tabs-line {
    .tabs-nav {
      font-size: 0;
      padding: 0 0 0 26px;
      border-bottom: $tabs-tab-border-width $tabs-tab-border-style $tabs-tab-border-color; 
      .tabs-tab {
        font-size: $tabs-tab-font-size;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        padding: 0 16px;
        text-align: center;
        margin-left: 15px;
        margin-bottom: -$tabs-tab-border-width;
        cursor: pointer;
        transition: color .3s;
        &:first-child {
          margin-left: 0;
        }
        &:hover {
          color: $tabs-primary-color;
        }
      }
      .tabs-tab-active {
        background-color: $tabs-tab-active-bg-color;
        color: $tabs-primary-color;
        border-bottom: 2px $tabs-tab-border-style $tabs-primary-color;
      }
    }
  }
  &.tabs-block {
    .tabs-nav {
      font-size: 0;
      .tabs-tab {
        font-size: $tabs-tab-font-size;
        display: inline-block;
        border: $tabs-tab-border-width $tabs-tab-border-style $tabs-tab-border-color;
        border-left: none;
        height: 30px;
        line-height: 30px;
        padding: 0 30px;
        text-align: center;
        cursor: pointer;
        transition: color .3s;
        &:first-child {
          border-radius: $tabs-tab-border-radius 0 0 $tabs-tab-border-radius;
          border-left: $tabs-tab-border-width $tabs-tab-border-style $tabs-tab-border-color;
        }
        &:last-child {
          border-radius: 0 $tabs-tab-border-radius $tabs-tab-border-radius 0;
        }
        &:hover{
          color: $tabs-primary-color;
        }
      }
      .tabs-tab-active {
        background-color: $tabs-primary-color;
        color: $tabs-tab-active-bg-color;
        border: $tabs-tab-border-width $tabs-tab-border-style $tabs-primary-color;
        margin-left: -1px;
          &:first-child {
            margin-left: 0;
            border-left: $tabs-tab-border-width $tabs-tab-border-style $tabs-primary-color;
          }
      }
    }
  }
}