.toastr {
  position: relative;
  display: inline-block;
  max-width: $toastr-max-width;
  padding: $toastr-padding;
  border-radius: $border-radius;
  background: $toastr-bg-color;
  font-size: $toastr-font-size;
  color: $toastr-font-color;
  line-height: $line-height-base;
  @include border-radius($toastr-border-radius);
  @include box-shadow($toastr-box-shadow);
  p {
    margin: 0;
  }
  .toastr-icon {
    position: absolute;
    top: $toastr-icon-top;
    left: $toastr-icon-left;
    font-size: $toastr-icon-font-size;
  }
}

.toastr-success {
  .toastr-icon {
    color: $toastr-success-color;
  }
}

.toastr-error {
  .toastr-icon {
    color: $toastr-error-color;
  }
}

.toastr-warning {
  .toastr-icon {
    color: $toastr-warning-color;
  }
}