.toastr-container {
  font-size: 12px;
  position: fixed;
  z-index: 1010;
  width: 100%;
  top: 16px;
  left: 0;
  pointer-events: none;
}

.toastr {
  pointer-events: auto;
  position: relative;
  display: block;
  margin: 8px auto;
  overflow: hidden;
  animation-duration: .3s;
  animation-play-state: running;
  border-radius: $border-radius;
  line-height: $toastr-line-height-base;
  text-align: center;
  padding: $toastr-padding;
  max-width: $toastr-max-width;
  font-size: $toastr-font-size;
  color: $toastr-font-color;
  a {
    color: $toastr-font-color;
  }
  .toastr-close {
    position: absolute;
    cursor: pointer;
    color: $toastr-close-font-color;
    font-size: $toastr-close-font-size;
    line-height: $toastr-line-height-base;
    color: $toastr-close-font-color;
    top: $toastr-close-top;
    right: $toastr-close-right;
    text-decoration: none;
  }
}

.toastr-message {
  margin: 0;
  text-decoration: none;
  line-height: 16px;
  &:before {
    position: absolute;
    line-height: 1;
    top: $toastr-icon-top;
    margin-left: $toastr-icon-margin-left;
    font-size: $toastr-icon-font-size;
  }
  &:hover {
    text-decoration: none;
  }
}

.toastr-message-link {
  text-decoration: underline;
  &:hover {
    text-decoration: underline;
  }
}

@keyframes ToastrMoveIn {
  0% {
    transform: translate(0, -16px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes ToastrMoveOut {
  0% {
    opacity: 1;
    max-height: 150px;
  }
  100% {
    opacity: 0;
    max-height: 0;
  }
}

.toastr-success {
  background: $toastr-success-bg-color;
  border: 1px solid $toastr-success-border-color;
  .toastr-message {
    &:before {
       @include iconfont-font("\EE61");
      color: $toastr-success-color;
    }
  }
}

.toastr-error {
  background: $toastr-error-bg-color;
  border: 1px solid $toastr-error-border-color;
  .toastr-message {
    &:before {
       @include iconfont-font("\EE5F");
      color: $toastr-error-color;
    }
  }
}

.toastr-warning {
  background: $toastr-warning-bg-color;
  border: 1px solid $toastr-warning-border-color;
  .toastr-message {
    &:before {
       @include iconfont-font("\EE5D");
      color: $toastr-warning-color;
    }
  }
}

.toastr-info {
  background: $toastr-info-bg-color;
  border: 1px solid $toastr-info-border-color;
  .toastr-message {
    &:before {
       @include iconfont-font("\EE59");
      color: $toastr-info-color;
    }
  }
}