//tree   ul.shark-tree
.tree {
  margin: 0;
  padding: 8px;
  font-size: 0;

  * {
    padding: 0;
    margin: 0;
  }

  li {
    margin: 8px 0;
    outline: 0;
    ul {
      padding-left: $tree-icon-width * 2;
      display: none;
      &.tree-open {
        display: block;
      }
    }
  }

  .tree-icon,
  .tree-node-name {
    display: inline-block;
    cursor: pointer;
  }

  .tree-icon {
    float: left;
    width: $tree-icon-width;
    font-size: $tree-font-size;
    vertical-align: middle;
    position: relative;
  }

  .tree-node-name {
    // display: block;
    color: $tree-color;
    overflow: hidden;
    font-size: $tree-font-size;
    line-height: 21px;
    padding: 0 5px;
    border-radius: 2px;
    transition: all .3s;
    &:hover {
      background-color: $tree-background-color-hover;
    }
  }

  .tree-icon.disabled,
  .tree-node-name.disabled {
    color: $tree-disable-color;
    cursor: not-allowed;
    &:hover {
      background-color: #fff;
    }
    &.tree-node-selected {
      background-color: $tree-selected-bg;
    }
  }

  .tree-icon-check,
  .tree-icon-check-empty,
  .tree-icon-check-minus {
    color: $tree-icon-color;
  }
  .tree-icon-check {
    &:before {
      @include iconfont-font("\EEFA");
    }
  }
  .tree-icon-check-empty {
    &:before {
      @include iconfont-font("\E628");
    }
  }
  .tree-icon-check-minus {
    &:before {
      @include iconfont-font("\EEF7");
    }
  }
  .tree-icon-right {
    &:before {
      @include iconfont-font("\EE50");
    }
  }
  .tree-icon-down {
    &:before {
      @include iconfont-font("\EE4E");
    }
  }

  .tree-node-selected {
    background-color: $tree-selected-bg;
    &:hover {
      background-color: $tree-selected-bg;
    }
  }
}