$upload-img-width: 96px;
$upload-img-height: 100px;
.upload.upload-file {
  display: inline-block;
  outline: 0;
  font-size: 0;
  .upload-file-inner {
    display: inline-block;
    font-size: 0;
  }
  input[type=file] {
    cursor: pointer;
  }
  .btn {
    color: $upload-btn-color;
    font-size: $upload-font-size;
    width: 88px;
    height: 26px;
    background-color: $upload-file-btn-bg-color;
    border: $upload-btn-border-width $upload-file-btn-border-style $upload-btn-border-color;
    border-radius: $upload-btn-border-radius;
    padding: 0;
    .icon-upload {
      vertical-align: baseline;
      font-size: $upload-font-size;
      margin-right: 5px;
    }
  }
  .upload-filename {
    font-size: $upload-font-size;
    line-height: 17px;
    vertical-align: middle;
    margin-left: 10px;
    .icon-link {
      color: $upload-btn-color;
      font-size: $upload-font-size;
      margin-right: 5px;
      display: none;
    }
  }
  &.upload-file-finished {
    .upload-filename {
      color: $upload-file-finished-color;
      .icon-link{
        display: inline-block;
      }
    }
  }
  &.upload-file-error {
    .upload-filename {
      color: $upload-file-error-color;
      .icon-link {
        color: $upload-file-error-color;
        display: inline-block;        
      }
    }
  }
  .upload-availiable-type {
    font-size: $upload-font-size;
    color: $gray-600;
    margin-top: 11px;
  }
}

.upload.upload-img {
  font-size: 0;
  .upload-img-list {
    display: inline-block;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .upload-img-list-item {
    position: relative;
    &::after {
      content: "\EED4";
      font-family: "iconfont" !important;
      display: none;
      visibility: hidden;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(51, 51, 51, 0.4);
      text-align: center;
      color: #fff;
      line-height: $upload-img-height;
      font-size: 18px;
      cursor: pointer;
    }
    &:hover {
      &::after {
        display: block;
        visibility: visible;
      }
    }
  }
  .upload-img-list-item,
  .upload-btn-cross {
    display: inline-block;
    width: $upload-img-width;
    height: $upload-img-height + 2*$upload-btn-border-width;
    border: $upload-btn-border-width $upload-img-btn-border-style $upload-btn-border-color;
    border-radius: $upload-btn-border-radius;
    vertical-align: top;
    margin-left: 10px;
    &:first-child {
      margin-left: 0;
    }
  }
  .upload-btn-cross {
    background-color: $upload-img-btn-bg-color;
    text-align: center;
    padding: 20px 0;
    cursor: pointer;
    .icon-plus {
      font-size: 28px;
      color: #999;
    }
    .upload-text {
      font-size: $upload-font-size;
      margin-top: 13px;
    }
    &:hover {
      border-color: $upload-img-btn-active-color;
    }
    &:active {
      border-color: $upload-img-btn-active-color;
      .icon-plus,
      .upload-text {
        color: $upload-img-btn-active-color;
      }
    }
  }
}

.download {
  display: inline-block;
  .download-filename {
    vertical-align: middle;
    margin-right: 5px;
  }
  .btn-link {
    color: $download-link-color;
  }
}