//间距
$sizels:    (ls, md, lg) !default;
$sizemap:   (ls: 5px, md: 10px, lg:15px) !default; 


//color
$white:  #fff !default;
$black:  #000 !default;
$red:    #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green:  #5cb85c !default;
$blue:   #0275d8 !default;
$teal:   #5bc0de !default;
$pink:   #ff5b77 !default;
$purple: #613d7c !default;

// Create grayscale
$gray-dark:                 #292b2c !default;
$gray:                      #464a4c !default;
$gray-light:                #636c72 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

// Reassign color vars to semantic color scheme
$brand-primary:             $blue !default;
$brand-success:             $green !default;
$brand-info:                $teal !default;
$brand-warning:             $orange !default;
$brand-danger:              $red !default;
$brand-inverse:             $gray-dark !default;

//Font
$font-family-base:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;

$font-size-base:    14px !default;

$font-weight-base:  normal !default;
$font-weight-bold:  bold !default;
$dt-font-weight:    $font-weight-bold !default;

$line-height-base:  1.5 !default;

$text-muted: $gray-light !default;

// body
$body-bg:      #fff !default;
$body-color:   #000 !default;


//Links
$link-color:            $brand-primary !default;
$link-decoration:       none !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;


// Tables
$table-cell-padding:            .75rem !default;
$table-cell-padding-sm:         .3rem !default;