//间距
$sizels:    (ls, md, lg) !default;
$sizemap:   (ls: 5px, md: 10px, lg: 15px) !default; 


//color
$white:  #fff !default;
$black:  #000 !default;
$red:    #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green:  #5cb85c !default;
$blue:   #0275d8 !default;
$teal:   #5bc0de !default;
$pink:   #ff5b77 !default;
$purple: #613d7c !default;

// Create grayscale
$gray-dark:                 #292b2c !default;
$gray:                      #464a4c !default;
$gray-light:                #636c72 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

// Reassign color vars to semantic color scheme
$brand-primary:             $blue !default;
$brand-success:             $green !default;
$brand-info:                $teal !default;
$brand-warning:             $orange !default;
$brand-danger:              $red !default;
$brand-inverse:             $gray-dark !default;

//Components
$border-width: 1px !default;

$border-radius:          .25rem !default;
$border-radius-lg:       .3rem !default;
$border-radius-sm:       .2rem !default;

$transition-fade:        opacity .15s linear !default;
$transition-collapse:    height .35s ease !default;


//Font
$font-family-base:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;

$font-size-base:    1rem !default;
$font-size-lg:      1.25rem !default;
$font-size-sm:      .875rem !default;
$font-size-xs:      .75rem !default;

$font-weight-base:  normal !default;
$font-weight-bold:  bold !default;
$dt-font-weight:    $font-weight-bold !default;

$line-height-base:  1.5 !default;

$text-muted: $gray-light !default;

// body
$body-bg:      #fff !default;
$body-color:   #000 !default;


//Links
$link-color:            $brand-primary !default;
$link-decoration:       none !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;


// Tables
$table-cell-padding:            .75rem !default;
$table-cell-padding-sm:         .3rem !default;

$table-bg:                      transparent !default;
$table-accent-bg:               rgba($black,.05) !default;
$table-hover-bg:                rgba($black,.075) !default;
$table-active-bg:               $table-hover-bg !default;

$table-border-width:            $border-width !default;
$table-border-color:            $gray-lighter !default;

$table-head-bg:                 $gray-lighter !default;
$table-head-color:              $gray !default;


//Buttons
$input-btn-padding-y:           .5rem !default;
$input-btn-padding-x:           .75rem !default;
$input-btn-line-height:         1.25 !default;

$input-btn-padding-y-sm:        .25rem !default;
$input-btn-padding-x-sm:        .5rem !default;
$input-btn-line-height-sm:      1.5 !default;

$input-btn-padding-y-lg:        .5rem !default;
$input-btn-padding-x-lg:        1rem !default;
$input-btn-line-height-lg:      1.5 !default;

$btn-font-weight:                $font-weight-base !default;
$btn-box-shadow:                 inset 0 1px 0 rgba($white,.15), 0 1px 1px rgba($black,.075) !default;
$btn-focus-box-shadow:           0 0 0 3px rgba($brand-primary, .25) !default;
$btn-active-box-shadow:          inset 0 3px 5px rgba($black,.125) !default;



// Forms
$input-bg:                       $white !default;
$input-disabled-bg:              $gray-lighter !default;

$input-color:                    $gray !default;
$input-border-color:             rgba($black,.15) !default;
$input-border-width:             $border-width !default; // For form controls and buttons
$input-box-shadow:               inset 0 1px 1px rgba($black,.075) !default;

$input-focus-bg:                 $input-bg !default;
$input-focus-border-color:       lighten($brand-primary, 25%) !default;
$input-focus-box-shadow:         $input-box-shadow, $btn-focus-box-shadow !default;
$input-focus-color:              $input-color !default;

$input-border-radius:            $border-radius !default;
$input-border-radius-lg:         $border-radius-lg !default;
$input-border-radius-sm:         $border-radius-sm !default;

$input-placeholder-color:        $gray-light !default;

$input-height-border:           $input-border-width * 2 !default;

$input-height-inner:            ($font-size-base * $input-btn-line-height) + ($input-btn-padding-y * 2) !default;
$input-height:                  calc(#{$input-height-inner} + #{$input-height-border}) !default;

$input-height-inner-sm:         ($font-size-sm * $input-btn-line-height-sm) + ($input-btn-padding-y-sm * 2) !default;
$input-height-sm:               calc(#{$input-height-inner-sm} + #{$input-height-border}) !default;

$input-height-inner-lg:         ($font-size-lg * $input-btn-line-height-lg) + ($input-btn-padding-y-lg * 2) !default;
$input-height-lg:               calc(#{$input-height-inner-lg} + #{$input-height-border}) !default;

$input-transition:               border-color ease-in-out .15s, box-shadow ease-in-out .15s !default;


// Grid clumns

$grid-columns:               24 !default;



// Form states and alerts

$state-success-text:             #3c763d !default;
$state-success-bg:               #dff0d8 !default;
$state-success-border-color:     darken($state-success-bg, 5%) !default;

$state-info-text:                #31708f !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-border-color:        darken($state-info-bg, 7%) !default;

$state-warning-text:             #8a6d3b !default;
$state-warning-bg:               #fcf8e3 !default;
$mark-bg:                        $state-warning-bg !default;
$state-warning-border-color:     darken($state-warning-bg, 5%) !default;

$state-danger-text:              #a94442 !default;
$state-danger-bg:                #f2dede !default;
$state-danger-border-color:      darken($state-danger-bg, 5%) !default;