// Button variants

@mixin button-variant($color, $border-color, $background-color, $background-color-hover, $background-color-active) {
  & {
    color: $color;
    border-color: $border-color;
    background-color: $background-color;
  }

  &:hover {
    background-color: $background-color-hover;
  }

  &.active,
  &:active {
    border-color: $border-color;
    background-color: $background-color-active;
  }
}

// Button disabled
@mixin button-variant-disabled($color, $border-color, $background-color) {
  &.disabled,
  &:disabled {
    &,
    &:hover{
      cursor: not-allowed;
      color: $color;
      border-color: $border-color;
      background-color: $background-color;
    }
  }
}

// Button sizes
@mixin button-size($height, $padding-y, $padding-x, $font-size, $line-height, $border-radius) {
  height: $height;
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
  @include border-radius($border-radius);
}