// Dropdown variants
@mixin dropdown-variant($color, $border-color, $background-color, $color-hover, $border-color-hover, $shadow-active) {
  & {
    color: $color;
    border-color: $border-color;
    background-color: $background-color;
  }

  &:hover {
    color: $color-hover;
    border-color: $border-color-hover;
  }

  &.active,
  &:active {
    color: $color-hover;
    border-color: $border-color-hover;
    @include box-shadow($shadow-active);
  }
}

// Dropdown disabled
@mixin dropdown-variant-disabled($color, $border-color, $background-color) {
  &.disabled,
  &:disabled {
    &,
    &:hover{
      cursor: not-allowed;
      color: $color;
      border-color: $border-color;
      background-color: $background-color;
    }
  }
}

// Dropdown sizes
@mixin dropdown-size($height, $padding-x, $padding-y, $font-size) {
  height: $height;
  line-height: $height - 2px - ($padding-y * 2);
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: 2px;
}