// for iconfont font size
// fix chrome 12px bug
@mixin iconfont-size-under-12px($size, $rotate: 0deg) {
  display: inline-block;
  $font-scale: strip-units($size / 12px);
  font-size: $size;
  transform: scale($font-scale) rotate($rotate);
}

// for iconfont used in content 
@mixin iconfont-font($content) {
  font-family: "iconfont" !important;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: $content;
}