section {
  margin: 0;
  padding: 0;
}
.wrapper {
  margin-bottom: 10px;
}
.u-tips{
  margin-bottom: 30px;
}
.code-box {
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 20px 0; 
  -webkit-transition: all .2s;
  transition: all .2s;
}

.code-box-demo {
  border-bottom: 1px solid #e9e9e9;
  padding: 42px 20px 50px;
  position: relative;
}

.code-box .code-box-meta {
  position: relative;
  padding: 17px 16px 15px 20px;
  border-radius: 0;
  border-bottom: 1px dashed #e9e9e9;
  -webkit-transition: background-color .4s;
  transition: background-color .4s;
  width: 100%;
  font-size: 12px;
}

.code-box-title {
  position: absolute;
  top: -14px;
  padding: 1px 8px;
  margin-left: -8px;
  color: #333;
  border-radius: 4px 4px 0 0;
  background: #fff;
  -webkit-transition: background-color .4s;
  transition: background-color .4s;
}

.highlight-wrapper {
  overflow: auto;
  border-radius: 0 0 4px 4px;
  background-color: #FCFCFC;
  pre[class*="language-"]{
    background-color: #FCFCFC;
    font-size: 12px;    
  }
}

.icon_lists {
  width: 1000px;
  margin: 0 auto;
}
.icon_lists li {
  text-align: center;
  display: inline-block;
  width: 150px;
  height: 80px;
  cursor: default;
  border-radius: 2px;
}
.icon_lists li:hover {
  background-color: #f4f4f4;
}

.token.tag {
  display: inline;
  padding: 0;
  border: 0;
  border-radius: 0;
  line-height: 1.5;
  background-color: rgba(0, 0, 0, 0); 
  font-size: 12px;
  margin: 0;
  cursor: auto;
  white-space: pre;
}
