section {
  margin: 0;
  padding: 0;
}
.code-box {
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0 0 16px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.code-box-demo {
  border-bottom: 1px solid #e9e9e9;
  padding: 42px 20px 50px;
}

.code-box .code-box-meta {
  position: relative;
  padding: 17px 16px 15px 20px;
  border-radius: 0;
  border-bottom: 1px dashed #e9e9e9;
  -webkit-transition: background-color .4s;
  transition: background-color .4s;
  width: 100%;
  font-size: 12px;
}

.code-box-title {
  position: absolute;
  top: -14px;
  padding: 1px 8px;
  margin-left: -8px;
  color: #777;
  border-radius: 4px 4px 0 0;
  background: #fff;
  -webkit-transition: background-color .4s;
  transition: background-color .4s;
}

.highlight-wrapper {
  overflow: auto;
  border-radius: 0 0 4px 4px;
}