<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>shark-angularX</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="Author" content="netease">
    <meta name="Version" content="1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <style type="text/css">
        .bd-example {margin-bottom: 20px;}
    </style>
    <script src="//mimg.127.net/h/lib/prism.js"></script>
</head>

<body>
    <app-root></app-root>
</body>

</html>