<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Shark Css</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="Author" content="netease">
    <meta name="Version" content="1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <style type="text/css">
        @font-face {font-family: "iconfont";
            src: url('/shark-css/fonts/iconfont.eot?t=1494480257283'); /* IE9*/
            src: url('/shark-css/fonts/iconfont.eot?t=1494480257283#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('/shark-css/fonts/iconfont.woff?t=1494480257283') format('woff'), /* chrome, firefox */
            url('/shark-css/fonts/iconfont.ttf?t=1494480257283') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
            url('/shark-css/fonts/iconfont.svg?t=1494480257283#anticon') format('svg'); /* iOS 4.1- */
        }
        .bd-example {margin-bottom: 20px;}
    </style>
    <script src="//mimg.127.net/h/lib/prism.js"></script>
</head>

<body>
    <app-root></app-root>
</body>

</html>